<br>

<div class = "container">  

    Enter Name of the Student
  <div class="col">
      <input type="text" class="form-control" placeholder="name" 
      [(ngModel)]=student.name >
    </div>
    <br>
      Enter student standard
    <div class="col">
      <input type="number" class="form-control" placeholder="classNo"
       [(ngModel)]=student.classNo >
    </div>
    <br>
    Enter Student Date Of Birth
    <div class="col">
        <input type="text" class="form-control" placeholder="dob" 
        [(ngModel)]=student.dob >
      </div>  
    
  <br>  
      <button class="btn btn-primary" type="button" (click)="update(student)" >Update Student</button>
   
    </div>
  
    <br>  
   
   
    
  
  
    

<div class="container py-5 text-center tableclr">
    <h3 class="text-center text-uppercase">List of Student</h3>
    <table class="table table-bordered table-striped {
      background-color: burlywood;
      
  }">
      <thead>
        <tr class="text-center text-uppercase">
            <th>StudentId</th>
          <th>Name</th>
          <th>Standard</th>
          <th>Date Of Birth</th> 
          <th>Delete</th>      
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of students; let j=index">
            <td>{{s.sid}}</td>
          <td>{{s.name}}</td>
          <td>{{s.classNo}}</td>
          <td>{{s.dob}}</td>
          <td><a class="btn btn-info"(click)="updateStudent(s,s.sid)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg></a></td>
          
        </tr>
      </tbody>
    </table>
  </div>