
<br>
<div class = "container">  

  
    Enter student class
    <div class="col">
      <input type="number" class="form-control" placeholder="clno" 
       [(ngModel)]=clno >
    </div>
    <br>
    
    
  <br>  
      <button class="btn btn-primary"  type="button" (click)="getStudentByClass(clno)">
        Seach Student Student</button>
   
    
  </div>
  
    <br>  
  
  
    
  
  
    <div class="container py-5">
      <h3 class="text-center text-uppercase">List of Student</h3>
      <table class="table table-bordered table-striped tableclr">
        <thead>
          <tr class="text-center text-uppercase">
            <th>Student Id</th>
            <th>Name</th>
            <th>Standard</th>
            <th>Date Of Birth</th>              
            
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let s of students;" >
            <td>{{s.sid}}</td>
            <td>{{s.name}}</td>
            <td>{{s.classNo}}</td>
            <td>{{s.dob}}</td>
            
           
            
          </tr>
        </tbody>
      </table>
    </div>