
<br>
<div class = "container" >  

  Enter Name of the Student
<div class="col">
    <input type="text" class="form-control" placeholder="name" 
    [(ngModel)]=student.name >
  </div>
  <br>
    Enter student standard
  <div class="col">
    <input type="number" class="form-control" placeholder="classNo"
     [(ngModel)]=student.classNo >
  </div>
  <br>
  Enter Student Date Of Birth
  <div class="col">
      <input type="text" class="form-control" placeholder="dob" 
      [(ngModel)]=student.dob >
    </div>  
  
   

<br>  
    <button class="btn btn-primary" type="button" (click)="createStudent()" >Create Student</button>
 
  </div>

  <br>  
 
 
  


  